<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-7">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search in Entries and Authors" id="text">
                    <div class="input-group-append">
                        <span class="input-group-text">Search</span>
                    </div>
                </div>
                <h2 class="ml-3">Authors</h2>
                <table class="table table-sm">
                    <tr class="bg-info">
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                    <tbody id="authors">
                        <!--{% for author in authors %}
                            <tr>
                                <th>{{ author.name }}</th>
                                <td>{{ author.email }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>-->
                </table>
                <hr><h2 class="ml-3">Entries</h2>
                <table class="table table-sm">
                    <tr class="bg-info">
                        <th>HeadLine</th>
                        <th>Date</th>
                        <th>Body Text</th>
                        <th>Authors</th>
                        <th></th>
                    </tr>
                    <tbody id="entries">
                        <!--{% for entry in entrys %}
                            <tr>
                                <th>{{ entry.headline }}</th>
                                <td style="width:95px"><small>{{ entry.date }}</small></td>
                                <td><small><small>{{ entry.body_text }}</small></small></td>
                                <td>{% for author in entry.authors.all %}·{{ author }}<br>{% endfor %}</td>
                                <td style="width: 100px">
                                    <span class="fa fa-star"></span>
                                    <span class="badge badge-secondary">{{ entry.rating }}</span>
                                    <span class="fa fa-envelope-open"></span>
                                    <span class="badge badge-secondary">{{ entry.number_of_comments }}</span>
                                </td>
                            </tr>
                        {% endfor %}-->
                    </tbody>
                </table>
            </div>
            <div class="col-5">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Options</label>
                    </div>
                    <select class="custom-select option">
                        <option value="0" selected>Choose...</option>
                        <option value="1">Autores - Rating</option>
                        <option value="2">Autores - Comentarios</option>
                    </select>
                </div>
                <h2 class="ml-3">Response</h2>
                <table class="table table-sm">
                    <tr class="bg-success">
                        <th class="text-center">#</th>
                        <th class="text-center">First</th>
                    </tr>
                    <tbody id="list"></tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(text);
    $('.option').on('change', option);
    $('#text').on('keyup', text);

    function text(){
        var text = $('#text').val();

        $.ajax({
            data: {'text': text },
            url: "{% url 'text' %}",
            type: 'get',
            success: function(data){
                authors = JSON.parse(data.authors)
                entries = JSON.parse(data.entries)
                console.log(authors)
                console.log(entries)
                $('#authors').html("");
                $('#entries').html("");
                for (var a in authors){
                    author = authors[a].fields
                    $('#authors').append(
                       `<tr>
                            <th>` + author.name + `</th>
                            <td>` + author.email + `</td>
                        </tr>` 
                    );
                }
                for (var r in entries){
                    entry = entries[r].fields
                    console.log(String(entry.authors).replace(',', '<br>'))
                    $('#entries').append(
                       `<tr>
                            <th style="width:150px">` + entry.headline + `</th>
                            <td style="width:95px"><small>` + entry.date + `</small></td>
                            <td><small><small>` + entry.body_text + `</small></small></td>
                            <td>` + String(entry.authors).replace(',', '<br>') + ` </td>
                            <td style="width: 100px">
                                <span class="fa fa-star"></span>
                                <span class="badge badge-secondary">` + entry.rating + `</span>
                                <span class="fa fa-envelope-open"></span>
                                <span class="badge badge-secondary">` + entry.number_of_comments + `</span>
                            </td>
                        </tr>` 
                    ); 
                }
            }
        })
    }

    function option(){
        var option = $('.option').val();
        console.log(option);

        $.ajax({
            data: {'option': option },
            url: "{% url 'option' %}",
            type: 'get',
            success: function(data){
                response = data.response
                $('#list').html("");
                for (var r in response){
                    console.log(r + ',' + response[r])
                    $('#list').append(
                    `<tr>
                        <th class="text-center">` + r + `</th>
                        <td class="text-center">` + response[r] + `</td>
                    </tr>`);
                }
            }
        })
    }
</script>
</html>